<%= form_for(lender_transfer) do |f| %>
  <% if lender_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lender_transfer.errors.count, "error") %> prohibited this lender_transfer from being saved:</h2>

      <ul>
      <% lender_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lender_transfer_id %>
    <%= f.text_field :lender_transfer_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
