<p id="notice"><%= notice %></p>

<h1>Contact Preferences</h1>

<table>
  <thead>
    <tr>
      <th>Contact preference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_preferences.each do |contact_preference| %>
      <tr>
        <td><%= contact_preference.contact_preference_id %></td>
        <td><%= link_to 'Show', contact_preference %></td>
        <td><%= link_to 'Edit', edit_contact_preference_path(contact_preference) %></td>
        <td><%= link_to 'Destroy', contact_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Preference', new_contact_preference_path %>
